In [1]:
import pandas as pd
import sqlite3

from IPython.display import display, HTML

In [2]:
# To establish a sql connection
#only works with .db files
conn = sqlite3.connect('/content/chinook.db')

In [3]:
#To create a  cursor object  
cur = conn.cursor()

In [4]:
#to show the tables under the database
cur.execute("Select name from sqlite_master where type ='table';")
print(cur.fetchall())

cur.execute("Select * from sqlite_master")
print(cur.fetchall())

[]
[]

In [ ]:
#1 st way to query the table
cur.execute("Select * from table;")
print(cur.fetchall())

In [ ]:
# 2 way to query pandas query and connection
df = pd.read_sql_query("select * from sqlite_master",conn)
df[df['type'] == 'table']

df = pd.read_sql_query('Select * from sqlite_master',conn)
df

In [ ]:
# For getting the info of table use pragma table_info()
for table in tables:
  query = "Pragma table_info({})".format(table)
  df = pd.read_sql_query(query,conn)
  print("The table is {}".format(table))
  display(df)

In [ ]:
# Add a new column in table
cur.execute("ALTER TABLE albums ADD COLUMN count integer ")

#Update the values of col
cur.execute("UPDATE albums SET count = length(title) where albumid > 0  ")

In [ ]:
# For deleting a column from table

cur.execute('PRAGMA foreign_keys=off;')
cur.execute("BEGIN TRANSACTION;")

cur.execute("""CREATE TABLE IF NOT EXISTS albums2 (
	AlbumId INTEGER PRIMARY KEY,
	Title TEXT NOT NULL,
	ArtistId INTEGER NOT NULL);""")

cur.execute("""INSERT INTO albums2(AlbumID, Title, ArtistId)
SELECT AlbumID, Title, ArtistId
FROM albums;""")

cur.execute("DROP TABLE albums;")
cur.execute("ALTER TABLE albums2 RENAME TO album;")

cur.execute('COMMIT;')
cur.execute('PRAGMA foreign_keys=on;')

In [ ]:
conn = sqlite3.connect("/content/chinook.db")

In [ ]:
df = pd.read_sql_query("Select * from sqlite_master where type = 'table'",conn)
df

In [ ]:
df = pd.read_sql_query("Pragma table_info(album)",conn)
df

   cid      name     type  notnull dflt_value  pk
0    0   AlbumId  INTEGER        0       None   1
1    1     Title     TEXT        1       None   0
2    2  ArtistId  INTEGER        1       None   0

In [ ]:
df = pd.read_sql_query("select * from album",conn)
df

     AlbumId                                              Title  ArtistId
0          1              for those about to rock we salute you         1
1          2                                  balls to the wall         2
2          3                                  restless and wild         2
3          4                                  let there be rock         1
4          5                                           big ones         3
..       ...                                                ...       ...
342      343                             respighi:pines of rome       226
343      344  schubert: the late string quartets & string qu...       272
344      345                                monteverdi: l'orfeo       273
345      346                              mozart: chamber music       274
346      347  koyaanisqatsi (soundtrack from the motion pict...       275

[347 rows x 3 columns]